/* !------------------------Start Valuable rules--------------------- */
:root {
  /* *--------------colors------------ */
  --main-color: #ffc215;
  --seconder-color: #2e2f5e;
  /* *Text colors */
  --main-text-color: #2e2f5e;
  --second-text-color: #1e1e1e;
  --third-text-color: #fff;
  /* *Background colors */
  --main-background-color: #f8f2ed;
  --second-background-color: hsla(239, 34%, 27%, 0.5);
}
/* !------------------------End Valuable rules--------------------- */

/* !--------------------------Start Fonts---------------------------- */
@font-face {
  font-family: "centurygothic";
  src: url(../fonts/centurygothic.ttf) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "centurygothic";
  src: url(../fonts/centurygothic_bold.ttf) format("woff");
  font-weight: Bold;
  font-style: normal;
}
@font-face {
  font-family: "bauhaus";
  src: url(../fonts/BauhausRegular.ttf) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bauhaus";
  src: url(../fonts/BauhausBold.ttf) format("woff");
  font-weight: bold;
  font-style: italic;
}
/* !--------------------------End Fonts---------------------------- */
/* !--------------------------Start Global Rules------------------- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
html {
  font-family: "centurygothic";
  scroll-behavior: smooth;
}
body {
  background-color: var(--main-background-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-text-color);
}
p {
  color: var(--second-text-color);
}
/* !--------------------------End Global Rules------------------- */
