/* !------------------------Start Valuable rules--------------------- */
:root {
  /* *--------------colors------------ */
  --main-color: #ffc215;
  --seconder-color: #2e2f5e;
  /* *Text colors */
  --main-text-color: #2e2f5e;
  --second-text-color: #1e1e1e;
  --third-text-color: #fff;
  /* *Background colors */
  --main-background-color: #f8f2ed;
  --second-background-color: hsla(239, 34%, 27%, 0.5);

  /* *-------------- Transtion ------------ */
  --main-transtion: 0.7s ease-in-out;
}
/* !------------------------End Valuable rules--------------------- */

/* !--------------------------Start Fonts---------------------------- */
@font-face {
  font-family: "centurygothic";
  src: url(../fonts/centurygothic.ttf) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "centurygothic";
  src: url(../fonts/centurygothic_bold.ttf) format("woff");
  font-weight: Bold;
  font-style: normal;
}
@font-face {
  font-family: "bauhaus";
  src: url(../fonts/BauhausRegular.ttf) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bauhaus";
  src: url(../fonts/BauhausBold.ttf) format("woff");
  font-weight: bold;
  font-style: italic;
}
/* !--------------------------End Fonts---------------------------- */
/* !--------------------------Start Global Rules------------------- */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
button {
  display: block;
  background: none;
  border: none;
}
html {
  font-family: "centurygothic";
  scroll-behavior: smooth;
}
body {
  background-color: var(--main-background-color);
}
body.nav-active {
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  height: 100%;
  object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "bauhaus";
  color: var(--main-text-color);
}
p {
  color: var(--second-text-color);
}
.container {
  padding-inline: 20px;
}
.btn-primary {
  height: fit-content;
  padding: 10px 15px;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 5px;
}
.btn-secondery {
  height: fit-content;
  padding: 10px 15px;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--seconder-color);
  border: 1px solid var(--main-color);
  border-radius: 5px;
}
/* !-------------------------- End Global Rules------------------- */

/* !-------------------------- Start header -----------------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  z-index: 4;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: block;
  height: 50px;
}
.header .btn {
  position: fixed;
  top: 5vh;
  left: -10vw;
  opacity: 0;
  z-index: 6;
  transition: var(--main-transtion);
}
.header .btn.active {
  left: 50px;
  opacity: 1;
}
.nav-open-btn {
  font-size: 2.6rem;
}
.nav-open-btn .menu-icon {
  color: var(--seconder-color);
  transition: var(--main-transtion);
}
.nav-open-btn .close-icon {
  position: relative;
  z-index: 5;
  color: var(--main-background-color);
  transition: var(--main-transtion);
}
.nav-open-btn.active .menu-icon,
.nav-open-btn .close-icon {
  display: none;
}
.nav-open-btn .menu-icon,
.nav-open-btn.active .close-icon {
  display: block;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--seconder-color);
  height: 100vh;
  width: 60vw;
  color: var(--third-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transform: translatex(100px);
  transition: var(--main-transtion);
  z-index: 1;
}
.navbar.active {
  opacity: 1;
  visibility: visible;
  transform: translatex(0);
}
.navbar .navbar-list > li {
  font-family: "bauhaus";
  font-size: 1.3rem;
  margin-top: 20px;
  transition: var(--main-transtion);
}
.navbar .navbar-list > li:hover {
  font-weight: bold;
  color: #ffc215;
}
.header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--second-background-color);
  transition: var(--main-transtion);
  opacity: 0;
  pointer-events: none;
}
.header .overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* !-------------------------- End header -----------------------*/

/* !-------------------------- Start Hero Section -----------------------*/

main .hero {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url(../Imgs/hero-background.png);
  background-size: 715px 455px;
  background-position-x: -14vh;
  background-position-y: 13vh;
}
main .hero .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .hero .hero-bannar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
main .hero .hero-bannar img {
  width: 100%;
  margin-block: 30px;
  padding-inline: 10px;
}
main .hero .hero-content {
  display: none;
  position: absolute;
  top: 0;
}
main .hero .hero-content h1 {
  font-size: 2rem;
}
main .hero .scroall {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* !-------------------------- End Hero Section -----------------------*/
