/* !------------------------Start Valuable rules--------------------- */
:root {
  /* *--------------colors------------ */
  --main-color: #ffc215;
  --seconder-color: #2e2f5e;
  /* *Text colors */
  --main-text-color: #2e2f5e;
  --second-text-color: #1e1e1e;
  --third-text-color: #fff;
  /* *Background colors */
  --main-background-color: #f8f2ed;
  --second-background-color: #7567ae;

  /* *-------------- Transtion ------------ */
  --main-transtion: 0.7s ease-in-out;
}
/* !------------------------End Valuable rules--------------------- */

/* !--------------------------Start Fonts---------------------------- */
@font-face {
  font-family: "centurygothic";
  src: url(../fonts/centurygothic.ttf) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "centurygothic";
  src: url(../fonts/centurygothic_bold.ttf) format("woff");
  font-weight: Bold;
  font-style: normal;
}
@font-face {
  font-family: "bauhaus";
  src: url(../fonts/BauhausRegular.ttf) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "bauhaus";
  src: url(../fonts/BauhausBold.ttf) format("woff");
  font-weight: bold;
  font-style: italic;
}
/* !--------------------------End Fonts---------------------------- */
/* !--------------------------Start Global Rules------------------- */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none;
}
*:focus {
  outline: none;
}
button {
  display: block;
  background: none;
  border: none;
}
html {
  font-family: "centurygothic";
  scroll-behavior: smooth;
}
body {
  background-color: var(--main-background-color);
}
body.nav-active {
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  height: 100%;
  object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "bauhaus";
  color: var(--main-text-color);
}
p {
  color: var(--second-text-color);
}
section {
  overflow: hidden;
  height: 100vh;
  max-width: 100vw;
}
.section-title {
  margin-block: 20px;
  font-size: 45px;
  text-align: center;
}
.section-title span {
  color: var(--main-color);
}
.container {
  width: 100%;
  height: calc(100% - 72px);
  padding-inline: 20px;
}
.btn-primary {
  height: fit-content;
  padding: 10px 15px;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--main-color);
  border: 2px solid var(--seconder-color);
  border-radius: 5px;
}
.btn-secondery {
  background-color: var(--main-color);
  height: fit-content;
  padding: 10px 15px;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--seconder-color);
  border: 2px solid var(--seconder-color);
  border-radius: 5px;
}
.btn-third {
  background-color: var(--main-background-color);
  font-size: 1.1rem;
  font-family: "bauhaus";
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  transition: var(--main-transtion);
}
.btn-third:hover {
  background-color: var(--second-background-color);
  color: var(--third-text-color);
}
.btn-third.active {
  background-color: var(--main-color);
}

/* !-------------------------- End Global Rules------------------- */

/* !-------------------------- Start header -----------------------*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  z-index: 4;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: block;
  height: 50px;
}
.header .btn {
  position: fixed;
  top: 5vh;
  left: -10vw;
  opacity: 0;
  z-index: 6;
  transition: var(--main-transtion);
}
.header .btn.active {
  left: 50px;
  opacity: 1;
}
.nav-open-btn {
  font-size: 2.6rem;
}
.nav-open-btn .menu-icon {
  color: var(--seconder-color);
  transition: var(--main-transtion);
}
.nav-open-btn .close-icon {
  position: relative;
  z-index: 5;
  color: var(--main-background-color);
  transition: var(--main-transtion);
}
.nav-open-btn.active .menu-icon,
.nav-open-btn .close-icon {
  display: none;
}
.nav-open-btn .menu-icon,
.nav-open-btn.active .close-icon {
  display: block;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--seconder-color);
  height: 100vh;
  width: 60vw;
  color: var(--third-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transform: translatex(100px);
  transition: var(--main-transtion);
  z-index: 1;
}
.navbar.active {
  opacity: 1;
  visibility: visible;
  transform: translatex(0);
}
.navbar .navbar-list > li {
  font-family: "bauhaus";
  font-size: 1.3rem;
  margin-top: 20px;
  transition: var(--main-transtion);
}
.navbar .navbar-list > li:hover {
  font-weight: bold;
  color: #ffc215;
}
.header .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--second-background-color);
  transition: var(--main-transtion);
  opacity: 0;
  pointer-events: none;
}
.header .overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* !-------------------------- End header -----------------------*/

/* !-------------------------- Start Hero Section -----------------------*/
/* ?-------------------------- The background image 1 -------------------- */
.background-1 {
  overflow: hidden;
  background-image: url(../Imgs/hero-background.png);
  background-size: 715px 455px;
  background-position-x: -14vh;
  background-position-y: 13vh;
}
main .hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main .hero .hero-bannar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 25px;
}
main .hero .hero-bannar img {
  width: 100%;
  margin-block: 30px;
  padding-inline: 10px;
}
main .hero .hero-content {
  display: none;
  position: absolute;
  top: 0;
}
main .hero .hero-content h1 {
  font-size: 2rem;
}
main .hero .scroall {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 270px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  text-align: center;
  color: var(--main-text-color);
}
/* !-------------------------- End Hero Section -----------------------*/
/* !-------------------------- Start AboutUs section -----------------------*/
.about-us {
  height: 360px;
  background-color: var(--second-background-color);
}
.about-us .container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-us .container h3 {
  width: 100%;
  margin-bottom: 18px;
  font-size: 26px;
  text-align: center;
}
.about-us .container h3 span {
  color: var(--main-color);
}
.about-us .container p {
  color: var(--third-text-color);
  text-align: center;
  line-height: 1.6;
}
/* !-------------------------- End AboutUs section -----------------------*/
/* !-------------------------- Start Services section -----------------------*/
.services {
  background-image: url(../Imgs/services-background.png);
  background-size: cover;
  max-height: 100vw;
}
.services .container {
  height: calc(100% - 86px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .carousel {
  height: 86vw;
  width: 86vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--seconder-color);
  border-radius: 50%;
  transition: var(--main-transtion);
  position: relative;
  left: -60%;
}
.imge-container {
  position: absolute;
  overflow: hidden;
  width: 97%;
  height: 97%;
  border-radius: 50%;
}
.imge-container img {
  object-fit: cover;
  object-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--main-transtion);
}
.imge-container img.active {
  opacity: 1;
}
.imge-container img:nth-child(1) {
  transform: rotate(0);
}
.imge-container img:nth-child(2) {
  transform: rotate(90deg);
}
.imge-container img:nth-child(3) {
  transform: rotate(-180deg);
}
.imge-container img:nth-child(4) {
  transform: rotate(270deg);
  object-position: -31% -17%;
  width: 112%;
}
.services .carousel .service-slide {
  max-width: 160px;
  position: absolute;
  opacity: 0;
  transition: var(--main-transtion);
}
.services .carousel .service-slide.active {
  opacity: 1;
}
.services .carousel .service-slide:nth-child(1) {
  left: 100%;
  transform: translateX(30px);
}
.services .carousel .service-slide:nth-child(2) {
  top: 100%;
  transform: rotate(90deg) translateX(57px);
}
.services .carousel .service-slide:nth-child(3) {
  right: 100%;
  transform: rotate(180deg) translateX(30px);
}
.services .carousel .service-slide:nth-child(4) {
  bottom: 100%;
  transform: rotate(270deg) translateX(49px);
}
.services .carousel .service-slide span {
  font-size: 18px;
  color: var(--main-color);
  font-family: "bauhaus";
}
.services .carousel .service-slide h3 {
  font-size: 18px;
  text-transform: lowercase;
  text-decoration: underline;
}
.services .carousel .service-slide p {
  width: 165px;
  font-size: 10px;
  line-height: 1.6;
}
.services .carousel .service-slide::before {
  content: "";
  position: absolute;
  right: calc(100% + 20px);
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  border: 3px solid transparent;
  transition: var(--main-transtion);
}
.control-points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0.7);
}
.control-points ion-icon {
  font-size: 2rem;
  opacity: 0.4;
  transition: var(--main-transtion);
}
.control-points ion-icon.active {
  opacity: 1;
  transform: scale(1.2);
}
.control-points .point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--seconder-color);
  margin-block: 20px;
  border: 3px solid transparent;
  transition: var(--main-transtion);
  cursor: pointer;
}
.control-points .point.active {
  transform: scale(1.5);
  border: 3px solid var(--main-color);
}
/* !-------------------------- End Services section -----------------------*/
/* !-------------------------- Start Portfolio section -----------------------*/
.portfolio {
  height: auto;
  width: auto;
  padding-bottom: 30px;
  background-color: var(--second-background-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.portfolio .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
.portfolio .btn-holder {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.portfolio .wrapper {
  max-width: 1100px;
  width: 100%;
  margin-block: 19px;
  position: relative;
}
.portfolio .wrapper ion-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  color: var(--seconder-color);
  background-color: var(--main-background-color);
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio .wrapper ion-icon:first-child {
  left: -5vw;
}
.portfolio .wrapper ion-icon:last-child {
  right: -5vw;
}
.portfolio .wrapper .imgs-holder {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  justify-items: center;
  gap: 16px;
  cursor: pointer;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
.portfolio .wrapper .imgs-holder.no-animation {
  scroll-behavior: auto;
}
.portfolio .wrapper .imgs-holder::-webkit-scrollbar {
  display: none;
}
.portfolio .wrapper .imgs-holder.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.portfolio .wrapper .imgs-holder.dragging .port-card {
  cursor: grab;
  user-select: none;
}
.portfolio .imgs-holder .port-card {
  transition: var(--main-transtion);
  scroll-snap-align: start;
  scroll-behavior: smooth;
  background-color: var(--main-background-color);
  border-radius: 20px;
}
.portfolio .imgs-holder .port-card.hiden {
  display: none;
}
.portfolio .imgs-holder .port-card img {
  width: 100%;
  border-radius: 20px;
}
@media screen and (max-width: 900px) {
  .portfolio .wrapper .imgs-holder {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
  .portfolio .wrapper ion-icon:first-child {
    left: -10px;
  }
  .portfolio .wrapper ion-icon:last-child {
    right: -10px;
  }
}
@media screen and (max-width: 600px) {
  .portfolio .wrapper .imgs-holder {
    grid-auto-columns: 100%;
  }
  .portfolio .wrapper ion-icon {
    width: 30px;
    height: 30px;
  }
}
/* !-------------------------- End Portfolio section -----------------------*/
/* !-------------------------- Start Contact Us section -----------------------*/
.background-2 {
  background-image: url(../Imgs/services-background.png);
}
/* Start Contact section */
.contact {
  padding-top: 20px;
  padding-bottom: 20px;
  height: auto;
}
.contact .info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .info .lable {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 30px;
  color: var(--seconder-color);
  font-family: "bauhaus";
  position: relative;
  left: -45px;
}
.contact .info .link {
  display: block;
  text-decoration: none;
  color: var(--main-text-color);
  font-size: 40px;
  font-weight: bold;
  font-family: "bauhaus";
  position: relative;
  z-index: 5;
  left: 80px;
}
.contact .info .link::before {
  content: "";
  display: block;
  width: calc(100% + 30px);
  height: 40px;
  background-color: var(--main-color);
  position: absolute;
  bottom: -5px;
  right: -13px;
  z-index: -1;
  border-radius: 10px;
}
.contact .info .social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 19px;
  font-weight: 500;
  color: var(--main-text-color);
  position: relative;
  z-index: 5;
  left: -45px;
}
.contact .info ul li:first-child {
  font-weight: 700;
}
.contact .info ion-icon {
  margin-left: 26px;
  color: var(--main-color);
  background-color: var(--main-text-color);
  padding: 8px;
  border-radius: 6px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .contact .info .lable,
  .contact .info .link {
    font-size: 25px;
  }
  .contact .info .link,
  .contact .info .social {
    left: -10px;
  }
  .contact .info i {
    margin-left: 10px;
    color: var(--main-color);
    background-color: var(--therd-text-color);
    padding: 8px;
    border-radius: 6px;
  }
  .contact .info .lable {
    left: 0;
  }
}
/* End Contact section */
/* !-------------------------- End Contact Us section -----------------------*/
/* !-------------------------- Start Price table section -----------------------*/
.price-table {
  height: auto;
  background-color: var(--second-background-color);
}
.price-table .nav-buttons {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.price-table .nav-buttons button {
  background-color: var(--main-background-color);
  font-size: 1.1rem;
  font-family: "bauhaus";
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  transition: var(--main-transtion);
}
.price-table .nav-buttons button:hover {
  background-color: var(--second-background-color);
  color: var(--third-text-color);
}
.price-table .nav-buttons button.active {
  background-color: var(--main-color);
  color: white;
}
.price-table .pricing-container {
  display: none;
  max-width: 90%;
  margin: auto;
}
.price-table .pricing-container.active {
  display: block;
}
.price-table .pricing-table {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.price-table .price-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.price-table .price-card.standard {
  background-color: #0044cc;
  color: white;
}
.price-table .price-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.price-table .price {
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  background-color: #ddd;
}
.price-table .standard .price {
  background-color: #002a80;
}
.price-table .features {
  list-style: none;
  padding: 0;
}
.price-table .features li {
  padding: 5px 0;
}
@media (max-width: 600px) {
  .price-table .nav-buttons button {
    margin: 5px 0;
  }
  .price-table .pricing-table {
    flex-direction: column;
    align-items: center;
  }
}
/* !-------------------------- End Price table section -----------------------*/
/* !-------------------------- Start Footer section -----------------------*/
footer {
  background-color: var(--second-background-color);
}
footer .container {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: space-between;
  color: var(--secondry-background-color);
  position: relative;
  z-index: 4;
}
footer .container .logo {
  max-width: 200px;
  margin: 20px 0;
}
footer .container .links-list li a {
  font-family: "bauhaus";
  padding: 20px 0;
  font-size: 24px;
  color: var(--third-text-color);
}
footer .container ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid var(--secondry-background-color);
  flex-wrap: wrap;
  gap: 10px;
  margin-block: 10px;
}
footer .container .social-icons li a {
  font-size: 2rem;
}
footer .social-icons {
  color: var(--main-color);
}
footer .container i {
  padding: 16px;
  font-size: 20px;
}
footer .container .line {
  width: 80%;
  height: 5px;
  background-color: var(--seconder-color);
  border-radius: 3px;
}
/* !-------------------------- End Footer section ----------------------- */
